<div class="component">

    <div class="event-grid">
            
            <div class="event">
                <div class="header">
                    <div class="header-content">
                        <h1 class="title">Workshops</h1>
                        <p class="description">Ready to have fun and learn about improv? Join our weekly workshops on the 1st and 3rd Saturday of the month at 6:00 PM EST.</p>
                    </div>
                </div>
                <div class="image-frame">
                    
                    <img src="image/screenshot/workshop/200kb_75p/close_up.webp" alt="Image">
                </div>
            </div>
            
            <div class="event">
                <div class="header">
                    <div class="header-content">
                        <h1 class="title">Jams</h1>
                        <p class="description">Learning is fun and all but sometimes you need a chance to refine what you learn. Join our Jam every 2nd Saturday at 6:00 PM EST.</p>
                    </div>
                </div>
                <div class="image-frame">
                    
                    <img src="image/screenshot/jam/200kb_75p/group_photo_2025-08-14.webp" alt="Image">
                </div>
            </div>
            
            <div class="event">
                <div class="header">
                    <div class="header-content">
                        <h1 class="title">Community</h1>
                        <p class="description">Just want to relax and enjoy some time with the community? Join our occasional meetups where we hangout and play games.</p>
                    </div>
                </div>
                <div class="image-frame">
                    
                    <img src="image/screenshot/community/200kb_75p/group_photo_2025-11-06.webp" alt="Image">
                </div>
            </div>
            
            <div class="event">
                <div class="header">
                    <div class="header-content">
                        <h1 class="title">Shows</h1>
                        <p class="description">Feeling confident in your skills and ready to show off? Apply to our monthly show that occurs every 4th Saturday at 6:00 PM EST.</p>
                    </div>
                </div>
                <div class="image-frame">
                    
                    <img src="image/poster/show/200kb_75p/show_2026-01.webp" alt="Image">
                </div>
            </div>
            
            <div class="event">
                <div class="header">
                    <div class="header-content">
                        <h1 class="title">Films</h1>
                        <p class="description">On occasion we will create a short film that is a bit more planned out. So sit back, relax, grab your popcorn, and enjoy the show.</p>
                    </div>
                </div>
                <div class="image-frame">
                    
                    <img src="image/poster/film/200kb_75p/haunt_busters.webp" alt="Image">
                </div>
            </div>
            
            <div class="event">
                <div class="header">
                    <div class="header-content">
                        <h1 class="title">Collabs</h1>
                        <p class="description">Have another favorite community? Guess what! We often collaborate with other VRChat groups. Stop by to show support for our fellow communities!</p>
                    </div>
                </div>
                <div class="image-frame">
                    <img src="image/poster/collab/200kb_75p/ci_collab_2026-03.webp" alt="Image">
                </div>
            </div>
            
        </div>
</div>
