.website {
    width: 100%;
    min-height: 100vh;
    position: relative;
    border: 0.1px solid transparent;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.navbar_spacer {
    height: 50px;
}
