
.component {
    width: 100%;
    height: 50px;
    background: var(--primary-5);
    z-index: 2;
    display: flex;
    justify-content: space-between;
    clip-path: polygon(
        0 100%,
        0% 100%,
        100 0%,
        100% 100%
    );
    position: relative;
}

h1, h2, p, .icon {
    font-size: 36px;
    margin: 0px;
}

.left {
    width: 400px;
    display: flex;
    .title {
        display: flex;
        margin: 1px 3px 5px 3px;
        padding-right: 10px;
        box-sizing: border-box;
        cursor: pointer;
    }
    h1 {
        margin: 8px 0px;
        line-height: 28px;
        color: var(--primary-2);
    }
    img {
        width: 44px;
        margin: 0px 5px;
    }
    
}

.middle {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
}

.page_link {
    cursor: pointer;
    margin: 5px 30px;
    display: flex;
    &:hover {
        background: var(--primary-5);
    }
    border-radius: 5px;
    padding: 5px 10px 5px 5px;
    h1 {
        margin: 0px 0px;
        font-size: 26px;
        color: var(--primary-2);
    }
    .icon {
        font-size: 28px;
        margin-right: 3px;
        color: var(--primary-2);
    }
}

.right {
    width: 400px;
    display: flex;
    justify-content: right;
    .image {
        cursor: pointer;
        &:hover {
            background: var(--primary-5);
        }
        margin: 3px 10px 0px 0px;
        width: 39px;
        height: 38px;
        border-radius: 5px;
        padding: 3px 1px 1px 3px;
    }
}

@media (max-width: 1200px) {
    .mobile_rm {
        display: none;
    }
    .page_link {
        margin: 5px 5px;
    }
}