
a {
    text-decoration: none;
    color: inherit;
    font: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: main;
}  

:root {
    --primary-1: #BA9367;
    --primary-2: #FEC83A;
    --primary-3: #E0681D;
    --primary-4: #69280E;
    --primary-5: #3F0607;
}
